<div class="first-fold" [@routerTransition]>
  <header>
    <div class="container-fluid">
      <div class="row">
          <a [routerLink]="['/']" class="navbar-brand">LOGO</a>
          <a [routerLink]="['secondfold']">[DISCOVER MORE]</a>
      </div>
    </div>
  </header>
  <nav>
    <ul>
      <li><a [routerLink]="['/']"><div class="nav-slide"></div></a></li>
      <li><a [routerLink]="['secondfold']"><div class="nav-slide"></div></a></li>
    </ul>
  </nav>
  <main>
    <section id="first-fold" class="v-header container">
      <div class="fullscreen-video-wrap">
        <video id="vid" control muted="true" autoplay="true" loop="true">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"/>
        </video>

        <div class="vid-overlay"></div>

        <div class="vid-content">
          <h1>LOREM IPSUM DOLOR</h1>
          <div class="vr"></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
            <br/>Quisque volutpat mattis eros.</p>
        </div>

        <div class="next-slide">
            <a [routerLink]="['secondfold']">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
      </div>
    </section>


  </main>
</div>
<router-outlet></router-outlet>
