<header>
  <div class="container-fluid">
    <div class="row">
        <a href="#" class="navbar-brand">LOGO</a>
        <a href="#">[DISCOVER MORE]</a>
    </div>
  </div>
</header>
<nav>
  <ul>
    <li><a href="#"><div class="nav-slide"></div></a></li>
    <li><a href="#"><div class="nav-slide"></div></a></li>
  </ul>
</nav>
<main>
  <section class="v-header container">
    <div class="fullscreen-video-wrap">
      <video id="vid" autoplay muted loop>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"/>
      </video>

      <div class="vid-overlay"></div>

      <div class="vid-content">
        <h1>LOREM IPSUM DOLOR</h1>
        <div class="vr"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          <br/>Quisque volutpat mattis eros.</p>
      </div>

      <div class="next-slide">
          <a href="#"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
    </div>
   [SLIDE #1]
  </section>

  <section>
    [SLIDE #2]
  </section>
</main>
