<section id="secondfold" class="v-header" [@routerTransition]>
  <div class="fullscreen-img-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-xs"></div>
        <div class="second-fold-content col-md-6 col-xs-12">
          <h1>DONEC NEC JUSTO</h1>
          <p>
            Donec nec justo eget felis facilisis fermentum. Aliquam
            porttitor mauris sit amet orci. Aenean dignissim
            pellentesque felis.<br/><br/>
            Sed egestas, ante et vulputate volutpat, eros pede semper
            est, vitae luctus metus libero eu augue. Morbi purus libero,
            faucibus adipiscing, commodo quis, gravida id, est. Sed
            lectus. Praesent elementum hendrerit tortor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
